git+https://git@github.com/yjg30737/pyqt-style-setter.git@main
git+https://git@github.com/yjg30737/pyqt-custom-titlebar-setter.git@main
git+https://git@github.com/yjg30737/pyqt-description-tooltip.git@main
git+https://git@github.com/yjg30737/pyqt-list-viewer-widget.git@main
git+https://git@github.com/yjg30737/pyqt-get-selected-filter.git@main